<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Including EJS Head -->
        <%- include("../partials/head"); %>
    <title>EJS HOME-PAGE</title>
</head>
<body className="container">
    <header>
        <!-- Including EJS header -->
        <%- include('../partials/header', {variant: 'compact'}); %>
    </header>

    <main>
        <div className="jumbotron">
            <h1>This is Pretty Awesome</h1>
            <p>Welcome to templating using EJS</p>

            <!-- New: EJS Variables -->
            <h2>Using variables</h2>
            <p>This is my fervent <% tagline %></p>

            <!-- New: EJS + JS -->
            <ul>
                <!-- Opening JS in EJS TAG -->
                <% people.forEach(function(person) { %>
                    <li>
                        <strong><%= person.first_name+" "+person.last_name %></strong><br>
                        <em>Email</em>: <%= person.email %> <br>
                        <em>Gender</em> <%= person.gender %> <br>
                        <em>Date of Birth</em>: <%= person.dob %>
                    </li>
                <!-- Closing JS section in EJS TAG -->
                <% }); %>
            </ul>
        </div>
    </main>

    <footer>
        <!-- Including EJS footer -->
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>